body {
  background-color: white;
  
}

.ui.menu:not(.vertical) .item {
  font-family: 'Special Elite', cursive;
}

.ui.menu.fixed {
  margin-bottom: 1rem;
   
}

.ui.menu .item {
  font-weight: bold;
}

.ui.menu .item>img:not(.ui) {
  display: inline-block;
  width: 40px;
  margin-right: 5px;
 
  
}

.ui.block.header {
  border: none;
 font-family: 'Special Elite', cursive;
 font-size: 24px;
 background-color:white;
}

.ui.red.ribbon.label {
  margin-left: 2%;
}

.ui.form .error.message, .ui.form .success.message, .ui.form .warning.message {
  display: block;
}

