.column {
  padding-left: 2%;
}

.columnImg {
  height: 200px !important;
  width: 100%;
}

.content {
  text-align: center !important;
  padding-bottom: 2% !important;
  padding-top: 2% !important;
}

i.icon.outline {
  padding-right: 10%;
}


.ui.red.ribbon.label {
  margin-top: 3%;
}


.descriptionPara {
  font-weight: bold;
  margin-bottom: 5%;
}

@media screen and  (max-width: 480px) {

  .ui.red.ribbon.label {
  margin-top: 35%;
}

}