.ui.card {
    width: 40%;
}

.ui.segment:last-child {
    margin-top: 0;
    border: none;
    border-radius:  0;
}

.ui.card [class*="right floated"], .ui.cards>.card [class*="right floated"] {
    margin-left: 5%;
    padding-right: 25%;
    display: inline;
}

.infoTitle {
    margin-top: 5%;
}