#infoMess.content {
     text-align: center !important;
  padding-bottom: 20% !important;
  padding-top: 10% !important;
}


i.icon {
    display:  inline;
    
}

.ui.card [class*="right floated"], .ui.cards>.card [class*="right floated"] {
    margin-left: 35%; 
    padding-right: 5%;
}

#comment {
    text-align: left !important;

}