#infoMess.content {
     text-align: center !important;
  padding-bottom: 10% !important;
  padding-top: 10% !important;
}


i.icon {
    display:  inline;
    
}

.ui.card [class*="right floated"], .ui.cards>.card [class*="right floated"] {
    margin-left: 35%; 
    padding-right: 5%;
}

#comment {
    text-align: left !important;

}

.userName {
    font-weight: bold;
    color: brown
}

.comments {
    margin-bottom: 2%;
    margin-left: 5%;
}

.commentPara {
    margin: 0;
    border-radius: 25%;
    width: 75%;
    margin-left: 6%;
    
}

.ui.feed>.event>.content .date {
    font-size: smaller;
    padding-left: 2%;
    
}

.profileImg {
    height: 10%;
    width: 10%;
    margin-right: 2%;
}

.delete {
    font-size: smaller;
    margin-left: 15%;
    color: rgba(0,0,0,.4) !important;
}

#errorname {
    color: red;
    font: fantasy;
    font-weight: bolder;
    display: block;
    text-align: center;
}

.commentText {
    margin-left: 15%;
}



p {
    margin: 0;
}

.gif {
width: 75%;
    
}

.react-giphy-select__src-components-GiphySelect-styles__select___25GhN {
    width: 310px !important;
    margin: auto;
}

.react-giphy-select__src-components-GiphyList-styles__list___Tdg5X {
    width: 300px !important;
}


@media only screen and (max-width: 480px)  {
    .ui.action.input:not([class*="left action"])>input {
        margin-bottom: 10%;
    }
    
    .ui.action.input:not([class*="left action"])>.button:not(:first-child), .ui.action.input:not([class*="left action"])>.buttons:not(:first-child)>.button, .ui.action.input:not([class*="left action"])>.dropdown:not(:first-child){
        
    margin-bottom: 10%;
    }
}