.ui.block.header {
    margin-top: 10%;
}

#kids {
    padding-top: 10%;
    margin-top: -10%;

}

#article {
    padding-top: 10%;
    margin-top: -10%;

}

@media screen and  (max-width: 480px) {

    .ui.block.header {
        display: none;
        
    }
}
