.ui.card {
    width: 40%;
    margin-top: 10%;
}

.ui.segment:last-child {
    margin-top: 0;
    border: none;
    border-radius:  0;
}

.ui.centered.grid, .ui.centered.grid>.row, .ui.grid>.centered.row {
    margin-top: 10%;
}

.infoTitle {
    margin-top: 5%;
}

.ui form {
    padding-bottom:  5%;
}

.icon {
    margin-right: 2%;
}

.ui.card [class*="right floated"], .ui.cards>.card [class*="right floated"] {
    margin-left: 15%;
    padding-right: 20%;
}

@media only screen and (max-width: 480px)  {
   .ui.column.grid>[class*="sixteen wide"].column, .ui.grid>.column.row>[class*="sixteen wide"].column, .ui.grid>.row>[class*="sixteen wide"].column, .ui.grid>[class*="sixteen wide"].column {
        margin-top: 25%;
    }
}