.ui.card {
    width: 40%;
}

.ui.segment:last-child {
    margin-top: 0;
    border: none;
    border-radius:  0;
}

.ui.card [class*="right floated"], .ui.cards>.card [class*="right floated"] {
    margin-left: 5%;
    padding-right: 25%;
    display: inline;
}

.infoTitle {
    margin-top: 5%;
}

.ui form {
    padding-bottom:  5%;
}

i.icon {
    margin-right: 2%;
}


@media only screen and (max-width: 480px)  {
   .ui.column.grid>[class*="sixteen wide"].column, .ui.grid>.column.row>[class*="sixteen wide"].column, .ui.grid>.row>[class*="sixteen wide"].column, .ui.grid>[class*="sixteen wide"].column {
        margin-top: 25%;
    }
}